html {
  height: 100%;
}

body {
  height: 100%;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-top: 20px;
}

.footer {
  margin-top: 60px;
  text-align: center;
}

a {
  font-style: italic;
  color:inherit;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 20px;
}